
.cm-embed-block.markdown-rendered .block-language-dataview,
.markdown-rendered table, .markdown-rendered .table-view-table {
    margin-bottom: 0;
   }
   
   div.dataview-error-box {
    width: 100%;
    min-height: 0;
   }
   
   .markdown-source-view.mod-cm6 .cm-content > * {
   	margin-top: 5px !important;
   }
