.dataview.dataview-error-box {
 margin-top: 5px;
 min-height: 0;
}

// not related
.cm-preview-code-block.cm-embed-block.markdown-rendered {
    margin-top: 5px !important;
}

.markdown-rendered ul, .markdown-rendered ol {
    margin: 0;
}
