---
date: 2024-10-30
---
#lead 
#SLMP
#user-test
## topics
- [[#ehll]]

## tasks
- automatic [[task]]'s need  to be rescheduled manually every day #reschedule
- **Kanban** is <mark style="background: #FFB8EBA6;">not interesting</mark>
- filtering is ok
- ...
## communcations
- good to separate emails and SMS from the rest
- most of the time an SMS is sent after the client doesn't answer
- it would be good to list [[communications]]on the project
- SHARE templates
- ...

## UI
- ! All users tried to click the bottom button to save all the changes
	- this was instead of the butttons beneath each section

## questions

- [?] other types of users
	- [ ] what do they think?
- [?] what is the approach to design? Is it completely user centric?
	- [ ] does the user decide everything?
- [?] who decides on the SCOPE
	- [ ] @ don't know

## notes 📔

- the CRM will change how [[Coach]] works
- team `Osmium` is responsible for bonuses
